<!-- Footer -->
<footer class="footer-container">
    <!-- Section: Social media -->
    <section class="social-section">
      <!-- Left -->
      <div class="social-text">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div class="social-icons">
        <a href="" class="social-link">
          <mat-icon>facebook</mat-icon>
        </a>
        <a href="" class="social-link">
          <mat-icon svgIcon="twitter"></mat-icon>
        </a>
        <a href="" class="social-link">
          <mat-icon>email</mat-icon>
        </a>
        <a href="" class="social-link">
          <mat-icon>photo_camera</mat-icon>
        </a>
        <a href="" class="social-link">
          <mat-icon>business</mat-icon>
        </a>
        <a href="" class="social-link">
          <mat-icon>code</mat-icon>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="links-section">
      <div class="footer-content">
        <!-- Grid row -->
        <div class="footer-row">
          <!-- Grid column -->
          <div class="footer-col about-col">
            <!-- Content -->
            <h6 class="footer-heading">
              <mat-icon class="heading-icon">diamond</mat-icon>Lifestyle Store
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="footer-col products-col" id="prodlist">
            <!-- Links -->
            <h6 class="footer-heading">
              Products
            </h6>
            <p>
              <a routerLink="/products" class="footer-link">
                <mat-icon class="link-icon">photo_camera</mat-icon> Cameras
              </a>
            </p>
            <p>
              <a routerLink="/products" class="footer-link">
                <mat-icon class="link-icon">watch</mat-icon> Watches
              </a>
            </p>
            <p>
              <a routerLink="/products" class="footer-link">
                <mat-icon class="link-icon">checkroom</mat-icon> Shirts
              </a>
            </p>
            <p>
              <a routerLink="/products" class="footer-link">
                <mat-icon class="link-icon">smartphone</mat-icon> Smartphones
              </a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="footer-col links-col" id="prodlist">
            <!-- Links -->
            <h6 class="footer-heading">
              Useful links
            </h6>
            <p>
              <a routerLink="/contact" class="footer-link">Pricing</a>
            </p>
            <p>
              <a routerLink="/settings" class="footer-link">Settings</a>
            </p>
            <p>
              <a routerLink="/settings" class="footer-link">Orders</a>
            </p>
            <p>
              <a routerLink="/contact" class="footer-link">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="footer-col contact-col">
            <!-- Links -->
            <h6 class="footer-heading">
              Contact
            </h6>
            <p><mat-icon class="link-icon">home</mat-icon> New York, NY 10012, US</p>
            <p>
              <mat-icon class="link-icon">email</mat-icon>
              info&#64;example.com
            </p>
            <p><mat-icon class="link-icon">phone</mat-icon> + 01 234 567 88</p>
            <p><mat-icon class="link-icon">print</mat-icon> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="copyright">
      © 2021 Copyright:
      Lifestyle Store. All Rights Reserved  |  Contact Us: +91 90000 00000
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
