<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="card authcard">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li class="text-center" [ngbNavItem]="1">
        <button ngbNavLink>Login</button>
        <ng-template ngbNavContent>
          <form
            [formGroup]="authForm"
            (ngSubmit)="onlogin(authForm)"
            *ngIf="!isLoading"
          >
            <div class="mb-3 mt-3 mx-3">
              <label for="email">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="userEmail"
                placeholder="Enter email"
                name="email"
              />
            </div>
            <div class="mb-3 mx-3">
              <label for="pwd">Password:</label>
              <div class="input-group">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  class="form-control"
                  id="pwd"
                  formControlName="userPswd"
                  placeholder="Enter password"
                  name="pswd"
                />
                <a
                  class="input-group-text"
                  (click)="showPassword = !showPassword"
                >
                  <em
                    id="changePassIcon"
                    [ngClass]="{
                      'bi bi-eye': !showPassword,
                      'bi bi-eye-slash': showPassword
                    }"
                  >
                  </em>
                </a>
              </div>
            </div>
            <div class="form-check mb-3 mx-3">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="remember"
                  [(ngModel)]="isChecked"
                  [ngModelOptions]="{ standalone: true }"
                />
                Remember me
              </label>
            </div>
            <button
              type="submit"
              class="btn btn-primary mx-3 mb-3"
              [disabled]="authForm.invalid"
            >
              Submit
            </button>
          </form>
          <div *ngIf="isLoading" style="text-align: center">
            <app-loading-spinner></app-loading-spinner>
          </div>
        </ng-template>
      </li>
      <li class="text-center" [ngbNavItem]="2">
        <button ngbNavLink>Signup</button>
        <ng-template ngbNavContent>
          <form
            [formGroup]="signupForm"
            (ngSubmit)="onSignup(signupForm)"
            *ngIf="!isLoading"
          >
            <div class="mb-3 mt-3 mx-3">
              <label for="signupemail">Email:</label>
              <input
                type="email"
                class="form-control"
                id="signupemail"
                formControlName="sigupEmail"
                placeholder="Enter email"
                name="email"
              />
            </div>
            <div class="mb-3 mx-3">
              <label for="signuppwd">Password:</label>
              <div class="input-group">
                <input
                  type="password"
                  class="form-control"
                  id="signuppwd"
                  formControlName="signupPswd"
                  placeholder="Enter password"
                  name="pswd"
                />
                <a
                  class="input-group-text"
                  (click)="showPassword = !showPassword"
                >
                  <em
                    id="changePassIcon"
                    [ngClass]="{
                      'bi bi-eye': !showPassword,
                      'bi bi-eye-slash': showPassword
                    }"
                  >
                  </em>
                </a>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary mx-3 mb-3"
              [disabled]="signupForm.invalid"
            >
              Submit
            </button>
          </form>
          <div *ngIf="isLoading" style="text-align: center">
            <app-loading-spinner></app-loading-spinner>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
