.containerblock {
  text-align: center;
  margin-top: 80px;
}

.mr-2 {
  margin-right: 20px;
}

.divTable {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.rowTable {
  display: table-row;
}
.divTableHeading {
  display: table-header-group;
}
.divTableCol,
.divTableHead {
  border-bottom: 1px solid #eee;
  display: table-cell;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}
.divTableHeading {
  background-color: #eee;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}

.divTableCol:first-child {
  text-align: left;
}

.media {
  align-items: center;
}

.media-body {
  flex: 1;
  margin-left: 10px;
}

.media-heading {
  margin: 0;
  font-size: 1.1rem;
}
