<div class="container mt-5 mb-5">
  <ng-container>
    <h2>
      <span>{{ ordmsg }}</span>
    </h2>
  </ng-container>

  <ng-container>
    <h2>Shopping Cart ({{ cartValues.length }} item/s in your cart)</h2>
    <table
      class="table table-striped table-hover table-bordered table-responsive"
      aria-describedby="shoppingcart"
    >
      <thead class="table-dark">
        <tr>
          <th scope="row">Item Id</th>
          <th scope="row">Image</th>
          <th scope="row">Item Name</th>
          <th scope="row">Price</th>
          <th scope="row">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of cartValues; let i = index" [attr.id]="x.id">
          <td>{{ x.id }}</td>
          <td>
            <img
              src="assets/{{ x.image }}"
              alt="{{ x.name }}"
              class="card-img-top"
              height="100px"
            />
          </td>
          <td>{{ x.name }}</td>
          <td>Rs.{{ x.price }}</td>
          <td style="color: red" (click)="rmCart(x)">
            <i class="bi-trash"></i>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th style="text-align: right" colspan="3" scope="row">
            <b>Total</b>
          </th>
          <td colspan="2">
            <b>Rs. </b><b>{{ total }}</b>
          </td>
        </tr>
      </tfoot>
    </table>
    <hr />
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary" type="button" (click)="conformOrd()">
        Confirm Order
      </button>
      <button class="btn btn-danger mx-3" type="button" (click)="clearCart()">
        Clear
      </button>
    </div>
  </ng-container>
</div>
