<div class="container-fluid" id="content">
    <!-- Jumbotron Header -->
    <div class="mt-4 p-5 bg-primary text-white text-center">
        <h1>Welcome to our Lifestyle Store!</h1>
        <p>We have the best cameras, watches and shirts for you. No need to hunt around, we have all in one place.</p>
    </div>
    <hr>

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a href="#cameras" class="nav-link active" data-bs-toggle="tab"><i class="fas fa-camera"></i> Cameras</a>
                </li>
                <li class="nav-item">
                    <a href="#watches" class="nav-link" data-bs-toggle="tab"><i class="fas fa-clock"></i> Watches</a>
                </li>
                <li class="nav-item">
                    <a href="#shirts" class="nav-link" data-bs-toggle="tab"><i class="fas fa-tshirt"></i> Shirts</a>
                </li>
                <li class="nav-item">
                    <a href="#smartphones" class="nav-link" data-bs-toggle="tab"><i class="fas fa-mobile"></i> Smartphones</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="cameras">
                    <div class="card-text">
                        <div class="row text-center" id="cameras" *ngIf="cam">
                            <div class="col-md-3 col-sm-6 home-feature" *ngFor="let x of cam; let i = index">
                                <div class="card" style="width: 300px;">
                                    <img src="assets/{{x.image}}" alt={{x.name}} class="card-img-top" height="150px">
                                    <div class="card-body text-center">
                                        <h3 class="card-title">{{x.name}}</h3>
                                        <p class="card-text">{{x.price}}</p>
                                        <button type="button" class="btn btn-block btn-primary" (click)="cameraCart(i)">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="watches" *ngIf="wt">
                    <div class="card-text">
                        <div class="row text-center" id="watches">
                            <div class="col-md-3 col-sm-6 home-feature" *ngFor="let p of wt; let i = index">
                                <div class="card" style="width: 300px;">
                                    <img src="assets/{{p.image}}" alt={{p.name}} class="card-img-top" height="150px">
                                    <div class="card-body text-center">
                                        <h3 class="card-title">{{p.name}}</h3>
                                        <p class="card-text">{{p.price}}</p>
                                        <button type="button" class="btn btn-block btn-primary" (click)="watchCart(i)">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="shirts" *ngIf="st">
                    <div class="card-text">
                        <div class="row text-center" id="shirts">
                            <div class="col-md-3 col-sm-6 home-feature" *ngFor="let t of st; let i = index">
                                <div class="card" style="width: 300px;">
                                    <img src="assets/{{t.image}}" alt={{t.name}} class="card-img-top" height="150px">
                                    <div class="card-body text-center">
                                        <h3 class="card-title">{{t.name}}</h3>
                                        <p class="card-text">{{t.price}}</p>
                                        <button type="button" class="btn btn-block btn-primary" (click)="shirtsCart(i)">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="smartphones" *ngIf="smph">
                    <div class="card-text">
                        <div class="row text-center" id="smartphones">
                            <div class="col-md-3 col-sm-6 home-feature" *ngFor="let m of smph; let i = index">
                                <div class="card" style="width: 300px;">
                                    <img src="assets/{{m.image}}" alt={{m.name}} class="card-img-top" height="200px">
                                    <div class="card-body text-center">
                                        <h3 class="card-title">{{m.name}}</h3>
                                        <p class="card-text">{{m.price}}</p>
                                        <button type="button" class="btn btn-block btn-primary" (click)="smCart(i)">Add to cart</button>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
