@if(alertType){
  <div class="px-3 py-1 d-flex align-items-center justify-content-between" 
     [ngClass]="alertClasses[alertType]" id="alerts">
  <div class="ms-1 me-3">
    <img [src]="alertIcons[alertType]" [alt]="alertTitles[alertType]" />
  </div>
  <div class="d-flex text-white">
    <div>
      <h4>{{ alertTitles[alertType] }}</h4>
      <p>{{ alertMessage }}</p>
    </div>
  </div>
  <!-- Close icon positioned absolutely within the relative parent -->
  <i class="bi bi-x-lg close-icon" (click)="closeAlert()"></i>
</div>
}

